<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Julie Sass">
    <link rel="icon" href="/assets/images/favicon.png" sizes="32x32" type="image/png">
    <title>{{ title }} | JulieSass.dk</title>
    <link href="/assets/css/grid.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/assets/js/libs/wa-mediabox/wa-mediabox.css">
    <script type="text/javascript" src="/assets/js/libs/wa-mediabox/wa-mediabox.min.js"></script>
  </head>

  <body>
    <div id="pageWrapper">

      <div class="TopBg"></div>

      <header>
        <div class="inside">
          <div id="logo">
            <a href="/" title="juliesass.dk">
              <img src="/assets/images/JULIE_SASS_NAME.svg" alt="Julie Sass">
            </a>
          </div>
          {% include "menu.html" %}
          <p id="Updating">Site is under construction</p>
        </div>
      </header>      

      <div id="mainWrapper">
        {% block mainContent %}{% endblock mainContent %}        
      </div>

    </div> <!-- eof pageWrapper -->

    <!-- footer -->
    <footer>
      <div>&nbsp;</div>
      <div>
        <p>
          Julie Sass © 2024. This website is sponsored by
          <a href="http://www.kunst.dk/english/danish-arts-foundation/" target="_blank"><img src="/assets/images/StatensKunstfondLogoENG.png" class="SKlogo"></a>
        </p>
      </div>
      <div>
        <p><a href="#">top</a></p>
      </div>
    </footer>

    <!-- scripts here -->
    <script src='/assets/js/index.js' type="module"></script>
  </body>
</html>