{% extends "base.njk" %}

{% block mainContent %}

  <div class="maxWidth">
    {{ content | safe }}
  </div>

  <!-- ABOUT section -->
  <div class="bioWrapper">
    <!-- left -->
    <div>
      <h2>About Julie Sass</h2>
      <p>Julie Sass (b.1971) studied visual art at The Royal Danish Academy of Fine Arts in Copenhagen and at New York University in New York City (MFA), where she specialized in painting. Later she received her MA in Theory &amp; Mediation from The Royal Danish Art Academy in Copenhagen. Sass has worked for Yoko Ono and Gilbert and Lila Silverman’s’ Fluxus Collection as an assistant to Jon Hendricks, New York. She has also worked as assistant to Narelle Sissons producing set design for theater (Julliard, Shakespeare in the Park, etc.), New York.<br>
      Focusing on Abstraction (painting) in its diverse forms and how visual art can be embedded in various contexts, Sass has taken several initiatives to exhibitions, solo and collaborating with: Milena Høgsberg, Tomas Lagermand Lundme, Courtney J Martin, Bodil Nielsen, Anna Fro Vodder</p>
      <p>For the last 10 y+ there has been an emphasis on publications in relation to her curatorial projects and her artistic practice. The most recent are IMAGE temporary constellation, published by RSS PRESS and  A STATE OF WANDERING, published by Hurricane Publishing, both 2022.<br/>In 2020 Sass was nominated for The Queen Sonja Print Awaard <a href="https://www.queensonjaprintaward.no/artists/sass-julie" target="_blank">https://www.queensonjaprintaward.no/artists/sass-julie</a></p>
      <p>Public commissions include: Art Holbæk, Nørre Gymnasium, DK. Her works are to be found in several public and private collections including Dunkers Kulturhus, SE, Kastrupgaardsamlingenen, DK, and The MET, New York, etc.</p>
    </div>
    <!-- right -->
    <div>
      <h2>Contact</h2>
      <p>Julie Sass<br>
      e-mail: <a href="mailto:julie_sass@hotmail.com" target="_blank">julie_sass@hotmail.com</a><br>
      studio/værksted: Værkstedvej 24, 2500 Valby, dk</p>
      <p>Inquiries: @Galleri Maria Friis, Cph, Pierogi Gallery, NY, Steinprent, Tórshavn, FO</p>
      <p>Collaborations/ works or artist books available:<br>
      ·&nbsp;Pierogi Gallery, New York&nbsp;<a href="https://flatfiles.pierogi2000.com/artist/julie-sass" target="_blank">https://flatfiles.pierogi2000.com/artist/julie-sass</a><br>
      · EKELY, Istedgade 51c, DK 1650&nbsp;<br>
      ·&nbsp;STEINPRENT, Skálatrøð 16, P.O.Box 1210, FO 110 Tórshavn<br>
      ·&nbsp;SixtyEight Art Institute,&nbsp;Gothersgade 167, 1123 København</p>
    </div>
  </div>


  <h2>Curriculum Vitae</h2>

  <div class='CVWrapper'>

    <!-- ******************************************************************************************** -->
    <!-- Education -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Education</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">    
        {% for year in collections.cvEducation | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Upcoming -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Upcoming</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">    
        {% for year in collections.cvUpcoming | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Solo Exhibitions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Solo Exhibitions (selected)</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvSolo | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Group Exhibitions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Group Exhibitions (selected)</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvGroup | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Bibliography -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Bibliography</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvBibliography | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Commissions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Commissions</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvCommissions | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>       

    <!-- ******************************************************************************************** -->
    <!-- Art Fairs -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Art Fairs</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvArtFairs | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Permanent Collections -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Permanent Collections</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvPermanentCollections | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Flat files -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Flat Files</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvFlatFiles | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Selected Press -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Selected Press (Only Articles in English Listed)</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvSelectedPress | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Grants -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Grants</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvGrants | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Residencies -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Residencies</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvResidencies | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>    

  </div>

{% endblock mainContent %}