{% extends "base.njk" %}

{% block mainContent %}

  <div class="maxWidth">
    {{ content | safe }}
  </div>

  <div class='CVWrapper'>

    <!-- ******************************************************************************************** -->
    <!-- Education -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Education</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">    
        {% for year in collections.cvEducation | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Upcoming -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Upcoming</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">    
        {% for year in collections.cvUpcoming | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Solo Exhibitions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Solo Exhibitions (selected)</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvSolo | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Group Exhibitions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Group Exhibitions (selected)</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvGroup | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Bibliography -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Bibliography</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvBibliography | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Commissions -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Commissions</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvCommissions | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>       

    <!-- ******************************************************************************************** -->
    <!-- Art Fairs -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Art Fairs</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvArtFairs | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- Permanent Collections -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        <h2>Permanent Collections</h2>
      </div>
    </div>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class="Grid-cell">
        {% for year in collections.cvPermanentCollections | reverse %}
          <div class="YearRow">
            <div class="left">{{ year.data.title }}</div>
            <div class="right">{{ year.data.content | safe }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock mainContent %}