{% extends "base.njk" %}

{% block mainContent %}

  <div class="workSingleWrapper">

    <div>
      <img src="/assets/images/curating/galleries/{{ galleryFolder }}/{{ imgUrl}}" />
      {{ content | safe }}
    </div>

    <!-- lightbox -->
    <div>
      {% if gallery.length > 0 %}
        <div class='galleryLightboxWrapper'>
          {% for thumb in gallery %}

            <div class="galleryImg">

              {% if thumb.caption !== "" %}
                <a href="/assets/images/curating/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="gallery" data-title="{{ thumb.caption }}" title="{{ thumb.caption }}" alt="{{ thumb.caption }}">
                  <img src="/assets/images/curating/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                </a>
              {% else %}
                <a href="/assets/images/curating/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="{{ title }}" data-title="{{ title }}" title="{{ title }}" alt="{{ title }}">
                  <img src="/assets/images/curating/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                </a>              
              {% endif %}

            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>    

  </div>

{% endblock mainContent %}