{% extends "base.njk" %}

{% block mainContent %}

  <div class="maxWidth">
    {{ content | safe }}
  </div>

  <div id='newsOverviewWrapper'>
    {% for item in collections.news | reverse %}
      
      <!-- check for orientation -->
      {% if item.data.orientation !== "vertical" %}
        <div class="newsItem">
          <div class='image'>
            <img src='{{ item.data.imageUrl }}' class='maxWidth' alt='{{ item.data.title }}' title='{{ item.data.title }}' />
          </div>
          <div class="txt">{{ item.content | trim | safe }}</div>
        </div>
      {% else %}
        <div class="newsItemVertical">
          <div class='image'>
            <img src='{{ item.data.imageUrl }}' class='maxWidth' alt='{{ item.data.title }}' title='{{ item.data.title }}' />
          </div>
          <div class="txt">{{ item.content | trim | safe }}</div>
        </div>
      {% endif %}
      
    {% endfor %}
  </div>

{% endblock mainContent %}