{% extends "base.njk" %}

{% block mainContent %}

  <div class="workSingleWrapper">

    <div>
      {% if imgUrl !== "" %}
        <img src="/assets/images/library/galleries/{{ galleryFolder }}/{{ imgUrl }}" />
      {% endif %}
      {{ content | safe }}
    </div>

    <!-- gallery -->
    <div>
      {% if gallery.length > 0 %}
        <div class='galleryWrapper'>
          {% for thumb in gallery %}
            <div class="galleryImg">
              <img src="/assets/images/library/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}"/>
              {% if thumb.caption !== "" %}
                <div class="txt">{{ thumb.caption }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </div>

{% endblock mainContent %}