{% extends "base.njk" %}

{% block mainContent %}

  <h2>Books &amp; Publications</h2>
  <div class='workOverviewWrapper'>
    {% for thumb in collections.book | reverse %}
      <a
        href='{{ thumb.url }}'
        title='{{ thumb.data.title }}'
        alt='{{ thumb.data.title }}'
        class='workThumbWrapper'>
        <span class='image'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </span>
        <span class='title'>{{ thumb.data.shortTitle }}</span>
      </a>
    {% endfor %}
  </div> 

  <h2>Press</h2>
  <div class='workOverviewWrapper'>
    {% for thumb in collections.pressLibrary | reverse %}
      <a
        href='{{ thumb.url }}'
        title='{{ thumb.data.title }}'
        alt='{{ thumb.data.title }}'
        class='workThumbWrapper'>
        <span class='image'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </span>
        <span class='title'>{{ thumb.data.shortTitle }}</span>
      </a>
    {% endfor %}
  </div>

  <h2>Texts</h2>
  <div class='workOverviewWrapper'>
    {% for thumb in collections.text | reverse %}
      <a
        href='{{ thumb.url }}'
        title='{{ thumb.data.title }}'
        alt='{{ thumb.data.title }}'
        class='workThumbWrapper'>
        <span class='image'>
          <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' />
        </span>
        <span class='title'>{{ thumb.data.shortTitle }}</span>
      </a>
    {% endfor %}
  </div>   

{% endblock mainContent %}