{% extends "base.njk" %}

{% block mainContent %}


  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class="Grid-cell">
      <div class='headerSpaceBottom'>
        <h2>‡ DobbeltDagger</h2>
      </div>
    </div>
  </div>

  
  <div class='publicationDobbeltDaggerOverviewWrapper'>
    
    {% for thumb in collections.dobbeltdaggerPrint | reverse %}
      <div class="item">
        <div class="imgWrapper">
          <a
            href='{{ thumb.url }}'
            title='{{ thumb.data.title }}'
            alt='{{ thumb.data.title }}'
            style='background-image: url({{ thumb.data.thumbUrl }}); background-position: center; background-size: contain; background-repeat: no-repeat;'
          >
            <!-- <img src='{{ thumb.data.thumbUrl }}' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' /> -->
          </a>
        </div>
        <div class="txtWrapper">
            <span class='title'>{{ thumb.data.shortTitle }}</span>
            <!-- <span class='text'>{{ thumb.data.desc }}</span> -->        
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- spacer -->
  <p>&nbsp;</p>

  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class="Grid-cell">
      <div class="headerSpaceBottom">
        <h2>* [asterisk]&nbsp;&nbsp;(selected)</h2>
      </div>
    </div>
  </div>

  <div class='publicationAsteriskOverviewWrapper'>
    
    {% for thumb in collections.asterisk | reverse %}
      <div class="item">
        <div class="imgWrapper">    
          <a
            href='{{ thumb.url }}'
            title='{{ thumb.data.title }}'
            alt='{{ thumb.data.title }}'
            class='publicationThumbWrapper'
            style='background-image: url({{ thumb.data.thumbUrl }}); background-position: center; background-size: contain; background-repeat: no-repeat;'
          >
            <!-- <img src='{{ thumb.data.thumbUrl }}' class='maxWidth' alt='{{ thumb.data.title }}' title='{{ thumb.data.title }}' /> -->
          </a>
        </div>
        <div class="txtWrapper">
          <!-- <span class='title'>{{ thumb.data.shortTitle }}</span> -->
          <!-- <span class='text'>{{ thumb.data.desc }}</span> -->
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock mainContent %}