{% extends "base.njk" %}

{% block mainContent %}

  <div class="workSingleWrapper">

    <div>
      <img src="/assets/images/works/galleries/{{ galleryFolder }}/{{ imgUrl}}" />
      {{ content | safe }}
    </div>

    <!-- gallery -->
    <!-- 
    <div>
      {% if gallery.length > 0 %}
        <div class='galleryWrapper'>
          {% for thumb in gallery %}
            <div class="galleryImg">
              <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}"/>
              {% if thumb.caption !== "" %}
                <div class="txt">{{ thumb.caption }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    -->

    <!-- lightbox -->
    <div>
      {% if gallery.length > 0 %}
        <div class='galleryLightboxWrapper'>
          {% for thumb in gallery %}

            <div class="galleryImg">

              {% if thumb.caption !== "" %}
                <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="gallery" data-title="{{ thumb.caption }}" title="{{ thumb.caption }}" alt="{{ thumb.caption }}">
                  <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                </a>
              {% else %}
                <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="{{ shortTitle }}" data-title="{{ shortTitle }}" title="{{ shortTitle }}" alt="{{ shortTitle }}">
                  <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                </a>              
              {% endif %}

            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <!-- 
    <a href="./images/projektSTOL/01.png" data-mediabox="projekt STOL" data-title="projekt STOL" title="projekt STOL" alt="projekt STOL"><img src="./images/projektSTOL/01.png" alt="Image"></a>
    -->


  </div>

{% endblock mainContent %}