{% extends "base.njk" %}

{% block mainContent %}

  {% if orientation !== "horisontal" %}
    
    <div class="workSingleWrapper">

      <div>
        <img src="/assets/images/works/galleries/{{ galleryFolder }}/{{ imgUrl}}" class="bigImg"/>
        {{ content | safe }}
      </div>

      <!-- lightbox -->
      <div>
        {% if gallery.length > 0 %}
          <div class='galleryLightboxWrapper'>
            {% for thumb in gallery %}

              <div class="galleryImg">

                {% if thumb.caption !== "" %}
                  <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="gallery" data-title="{{ thumb.caption }}" title="{{ thumb.caption }}" alt="{{ thumb.caption }}">
                    <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                  </a>
                {% else %}
                  <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="{{ title }}" data-title="{{ title }}" title="{{ title }}" alt="{{ title }}">
                    <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                  </a>              
                {% endif %}

              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </div>

  {% else %}
    <div class="workSingleWrapperHorisontal">

      <div>
        <img src="/assets/images/works/galleries/{{ galleryFolder }}/{{ imgUrl}}" class="bigImg"/>
        <!-- lightbox -->
        {% if gallery.length > 0 %}
          <div class='galleryLightboxWrapper'>
            {% for thumb in gallery %}

              <div class="galleryImg">

                {% if thumb.caption !== "" %}
                  <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="gallery" data-title="{{ thumb.caption }}" title="{{ thumb.caption }}" alt="{{ thumb.caption }}">
                    <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                  </a>
                {% else %}
                  <a href="/assets/images/works/galleries/{{ galleryFolder }}/{{ thumb.imgUrl }}" data-mediabox="{{ title }}" data-title="{{ title }}" title="{{ title }}" alt="{{ title }}">
                    <img src="/assets/images/works/galleries/{{ galleryFolder }}/thumbs/{{ thumb.imgUrl }}" alt="Image">
                  </a>              
                {% endif %}

              </div>
            {% endfor %}
          </div>
        {% endif %}        
        
      </div>

      <!-- content -->
      <div>
        {{ content | safe }}
      </div>
        
    </div>
  {% endif %}



    <!-- 
    <a href="./images/projektSTOL/01.png" data-mediabox="projekt STOL" data-title="projekt STOL" title="projekt STOL" alt="projekt STOL"><img src="./images/projektSTOL/01.png" alt="Image"></a>
    -->


  </div>

{% endblock mainContent %}