@charset "utf-8";
/*
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:500,500i,700,700i);
*/


:root {
  --text-color: #152255;
  --bg-color: #FCFCFC;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.65em;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.35);
  border: none;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}


img {
  max-width: 100%;
  height: auto;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SITE SPECIFIC styling ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  /* overflow-y: scroll; */ /* set in media queries */
  overflow-x: hidden;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TYPE STUFF */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; 
  line-height: 1.3em;
  margin: 0px 0px 0px 0px;
}
h2 {
  font-size: 1.5em; /* 1.35em; */
  padding: 0px;
}
h3 {
  font-size: 1.25em;
  padding: 0px;
}

.headerGroup {
  display: block;
  float: left;
  width: 100%;
  border: 1px solid red;
  margin-bottom: 0.5em;
}
.headerGroup h3 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1em;
  margin: 0px 0px 1.35em 0px; /* 0px 0px 2em 0px; */
}

/* INLINE LINKS */
a { text-decoration: none; color: tomato; outline: 0; }
a:active, a:focus { outline: 0; }
a:hover { text-decoration: underline; outline: none; }

a img {
  border: 0px;
}


/* ************************************************************************** */
/* Other Wrappers */

header {
  background: lightblue;
}

/* NAV ICON */
.burgerWrapper a#burger {
  display: block;
  /* float: right; */
  padding: 0px;
  margin: -0.65rem -0.375rem 0px 0px;
  color: var(--text-color);
}

.burgerWrapper a#burger #burgerIcon,
.burgerWrapper a#burger #crossIcon {
  outline: none;
  border: none;
  display: block;
  float: right;
  cursor: pointer;
  background-color: transparent;
  margin: 0px;
}
.burgerWrapper a#burger #burgerIcon {
  padding: 0px; /* 0.25em 0.8em 0px 0.6em; */
}
.burgerWrapper a#burger #crossIcon {
  padding: 0px; /* 0.25em 0.5em 0px 0.9em; */
}

.burgerWrapper a#burger #burgerIcon.hide,
.burgerWrapper a#burger #crossIcon.hide {
  display: none;
}

.maxWidth {
  max-width: 1600px; /* none; /* 1024px; */
  margin: 0px auto 0px 0px;
}

img.maxWidth {
  max-width: 100%;
  height: auto;
}


/* ************************************************************************** */
/* workThumbWrapper */
#workOverviewWrapper {
  display: grid;
  grid-gap: 1rem; /* 2rem; */
  margin: 0px;
  grid-template-columns: repeat(5, 1fr [col-start]);  
  /*
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin:  0 -0.25em 0px -0.25em;
  */
}

#workOverviewWrapper a {
  padding: 0px; /* 0px 0.25em 0.5em 0.25em; */
}
#workOverviewWrapper a img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: 0.25em ;
  transition: all 100ms ease-in-out;
  transform: scale(1.0);
}
#workOverviewWrapper a:hover img {
  transform: scale(1.025);
}
#workOverviewWrapper span.title {
  color: #333;
  display: block;
  float: left;
  width: 100%;
  font-weight: 700;
}
#workOverviewWrapper span.text {
  color: #333;
  display: block;
  float: left;
  width: 100%;
  font-size: 0.8em;
}
#workOverviewWrapper a:hover span.title,
#workOverviewWrapper a:hover span.text {
  text-decoration: none; /* underline; */
}


/* ************************************************************************** */
/* Gallery wrapper  */

.galleryThirdWrapper {
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0px 0px 0px;
  grid-template-columns: repeat(3, 1fr [col-start]);
}

.galleryHalfWrapper {
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0px 0px 0px;
  grid-template-columns: repeat(2, 1fr [col-start]);
}

.galleryFullWrapper {
  display: grid;
  grid-gap: 1rem;
  margin: 1rem 0px 0px 0px;
  grid-template-columns: repeat(1, 1fr [col-start]);
}

.galleryImg img {
  display: block;
  float: left;
}

.galleryImg .txt {
  display: block;
  float: left;  
  width: 100%;
  padding: 0.25rem 0px 0px 0px;
}


/* ************************************************************************** */
/* Community wrapper */

.communityOverviewWrapper {
  display: grid;
  grid-gap: 2rem; /* 1rem; */
  margin: 0px;
  grid-template-columns: repeat(2, 1fr [col-start]);  
}

.communityOverviewWrapper .commItem img {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  margin-bottom: 0.5rem;
}


/* ************************************************************************** */
/* Publication wrapper */

.publicationDobbeltDaggerOverviewWrapper {
  display: grid;
  grid-gap: 2rem; /* 1rem; */
  margin: 0px;
  grid-template-columns: repeat(6, 1fr [col-start]);  
}

.publicationDobbeltDaggerOverviewWrapper div.item {
  background-color: pink;
}

.publicationDobbeltDaggerOverviewWrapper div.item a {
  border: 1px solid red;
}


.publicationDobbeltDaggerOverviewWrapper a img {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  transition: all 100ms ease-in-out;
  transform: scale(1.0);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.publicationDobbeltDaggerOverviewWrapper a:hover img {
  transform: scale(1.025);
}

.publicationDobbeltDaggerOverviewWrapper a span.title {
  display: block;
  float: left;
  width: 100%;
  color: var(--text-color);
  text-align: center;
}
.publicationDobbeltDaggerOverviewWrapper a:hover span.title {
  text-decoration: none;
  border-bottom: 0px;
}


/* Asterisk */
.publicationAsteriskOverviewWrapper {
  display: grid;
  grid-gap: 2rem; /* 1rem; */
  margin: 0px;
  grid-template-columns: repeat(11, 1fr [col-start]);  
}

.publicationAsteriskOverviewWrapper a img {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  transition: all 100ms ease-in-out;
  transform: scale(1.0);
}
.publicationAsteriskOverviewWrapper a:hover img {
  transform: scale(1.025);
}

.publicationAsteriskOverviewWrapper a span.title {
  display: block;
  float: left;
  width: 100%;
  color: var(--text-color);
  text-align: center;
}
.publicationAsteriskOverviewWrapper a:hover span.title {
  text-decoration: none;
  border-bottom: 0px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* THERE ARE STYLESHEETS ATTACHED TO THIS formatting */

/* grids */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen {

  body {
    overflow-y: auto;
  }

  #pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* row; */
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: stretch; */
    padding: 1rem;
    margin: 0px;
  }

  header {
    flex: 0 0 100%;
  }

  #logo {
    position: relative;
  }
  /* text logo */
  #logo a.text {
    position: absolute;
    top: 0px; /* 20px; */
    left: 0px; /* 18px; */
    font-size: 32px;
    display: block;
    width: auto;
    float: left;
    color: #003366;
    z-index: 1000;
  }
  #logo a.text:hover {
    text-decoration: none;
  }

  #menuWrapper {
    flex: 0 0 100%; /* 15%; */
    margin-bottom: 2em;
  }

  #mainWrapper {
    flex: 0 0 100%; 
    padding: 0px; /* 0px 1em; /* 0px 0.65em; */
  }

  /* burger menu */
  #mobileNavWrapper {
    flex: 0 0 100%;
    overflow: hidden;
    height: auto;
    max-height: 420px;
    transition: max-height 0.2s ease;
  }
  #mobileNavWrapper.hide {
    max-height: 0px;
    border-bottom: 1px solid transparent;
  }
  /* burger nav */
  .burgerWrapper {
    flex: 0 0 100%;
  }
  .burgerWrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  /* mobileNav */
  ul.mobileNav {
    list-style: none;
    margin-bottom: 0px;
    flex: 0 0 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    transition: max-height 0.2s ease;
    padding: 0px;
  }
  ul.mobileNav li {
    display: block;
    width: 100%;
    float: left;
  }
  /* "logo" */
  ul.mobileNav li:first-child {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1.75em;
    display: none;
  }
  ul.mobileNav li a {
    display: block;
    width: 100%;
    float: left;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid transparent;
    font-size: 29px;
    line-height: 29px; /* 34px; */
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    color: #333333; /* #036; */
    font-family: 'EB Garamond', serif;
    text-transform: capitalize;
  }
  ul.mobileNav li a:hover {
    text-decoration: underline;
    border-bottom: 1px solid transparent;
    background: rgba(51,51,51,.05); /* rgba(0,51,102,.05); */
  }
  ul.mobileNav li.active a {
    text-decoration: line-through;
    color: #333; /* #003366; */
  }
  /* no strike through for logo */
  ul.mobileNav li:first-child.active a {
    text-decoration: none;
    color: #333; /* #003366; */
  }
  /* hiding nested uls */
  ul.mobileNav li ul {
    display: block;
    float: left;
    margin-bottom: 0px;
    padding-left: 1em;
    display: none;
  }

  /* other wrappers */

  #galleryWrapper a {
    flex: 0 0 100%;
  }


  #workOverviewWrapper {
    grid-template-columns: repeat(1, 1fr [col-start]);
  }


  /* CV wrappers */
  .CVWrapper {
    margin-bottom: 2em;
  }
  .CVWrapper .YearRow {
    display: block;
    width: 100%;
    float: left;
    padding: 0.35em 1em 0px 1em; /* 0.35em 0px 0px 0px; */
  }
  .CVWrapper .YearRow .left {
    width: 65px;
    display: block;
    float: left;
    font-weight: normal;
    line-height: 1.5em;
    padding: 1px 0px;
  }
  .CVWrapper .YearRow .right {
    width: auto;
    display: block;
    margin-left: 65px;
    border-bottom: 1px dotted #CCC;
    font-weight: 400;
    line-height: 1.5em;
    padding: 1px 0px 0.35em 0px;
  }
  .CVWrapper .YearRow .right p {
    margin-bottom: 0px;
  }


}


/* ***************************************************** */
/* BREAK MEDIUM */

@media (min-width: 400px) {
  
  #galleryWrapper a {
    flex: 0 0 50%;
  }

  #workOverviewWrapper {
    grid-template-columns: repeat(2, 1fr [col-start]);
  }

}


/* ***************************************************** */
/* BREAK MEDIUM */

@media (min-width: 800px) {
  
  #galleryWrapper a {
    flex: 0 0 33.3333%;
  }

  #workOverviewWrapper {
    grid-template-columns: repeat(3, 1fr [col-start]);
  }


}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1024px) {

  body {
    overflow-y: scroll;
  }


  /* now rows as flex-direction */
  #pageWrapper {
    padding: 2rem;
    flex-direction: row;
  }

  /* no mobile nav */
  .burgerWrapper a#burger #burgerIcon,
  .burgerWrapper a#burger #crossIcon {
    display: none;
  }

  header {
    flex: 0 0 20%; /* 15%; /* 7%; /* 15%; */
    display: block;
  }

  #logo a.text {
    display: none;
  }

  .frontLink {
    display: block !important; /* none !important; */
  }

  #menuWrapper {
    flex: 0 0 20%; /* 15%; */
    margin-bottom: 0px;
  }

  #mainWrapper {
    flex: 0 0 80%; /* 78%; /* 70%; */
    padding-top: 0px; /* 1em; /* 3em; /* 0px; */
    padding-bottom: 0px;
  }

  /* burger menu */
  #mobileNavWrapper {
    display: block;
    width: 20vw; /* 15vw; */
    position: fixed;
    padding: 0px; /* 0.9em 0px 0px 0.9em; /* 1em 0px 0px 1em; /* 2.75em 0px 0px 0px; */
  }
  #mobileNavWrapper.hide {
    height: auto;
    max-height: none;
  }
  .burgerWrapper #burger {
    display: none;
  }
  ul.mobileNav {
    text-align: right;
    padding: 0px 0px 0.5em 0px; /* 1.3em 1.3em 0.5em 1.3em; */
    margin-right: 0px; /* -0.9em; */
    max-height: none;
    height: auto;
    border-bottom: 1px solid transparent;
    text-align: left;
    /* border: 1px solid red; */
  }
  /*
  ul.mobileNav.hide {
    height: auto;
    max-height: none;
  }
  */
  ul.mobileNav li {
    display: block; /* inline-block; */
    width: 100%; /* auto; */
    float: left; /* none; */
  }
  /* "logo" */
  ul.mobileNav li:first-child {
    border-top: 0px;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1.75em;
  }
  ul.mobileNav li a {
    display: block;
    float: left;
    width: auto;
    padding: 0px 0.9em 0px 0px;
    text-align: left;
    border-bottom: 0px;
    border-top: 0px;
    font-size: 29px;
    line-height: 34px;
  }
  ul.mobileNav li a:hover {
    text-decoration: underline;
    border: 0px;
    background: transparent;
    color: #333333; /* #003366; */
  }
  ul.mobileNav .firstname {
    display: none;
  }


  /* other wrappers */
  #galleryWrapper a {
    flex: 0 0 25%;
  }


  #workOverviewWrapper {
    grid-template-columns: repeat(4, 1fr [col-start]);
  }  

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1280px) {

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4. */
@media screen and (min-width: 1400px) {
  
  #galleryWrapper a {
    flex: 0 0 20%;
  }

  #workOverviewWrapper {
    grid-template-columns: repeat(5, 1fr [col-start]);
  }  

}




/* ****************************************************************** */
/* ****************************************************************** */
/* Rubik font load */

/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Italic'), local('Rubik-Italic'), url(../fonts/Rubik-Italic.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(../fonts/Rubik-BoldItalic.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(../fonts/Rubik-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(../fonts/Rubik-Bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black'), local('Rubik-Black'), url(../fonts/Rubik-Black.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
